body {
    
    font-family: Arial,Verdana,Tahoma,sans-serif;
    margin: 0;
    
    
    
}
.logo{
    text-decoration: none;
    font-size: 40px;
    color:#4beba0;
    
    
}

header {
    
    background-image: url("../images/header.jpg");
    width: 100%;
    height: 400px;
    color: white;
    
   padding:50px 0px;
}

nav {
    display: inline-block;
    text-align: right;
    width: 870px;
    
   
}

nav ul {
    padding:0;
    
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    
}

nav ul li a:hover {
    color: #55B388;
}

.middle {
    margin:0 auto;
    width: 1000px;
}

.button {
    text-decoration: none;
    color: white;
    background-color: #55B388;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: block;
    width: 105px;
    text-align: center;
}

.left_block {
    display: inline-block;
    width: 400px;
   
    vertical-align: top;
    margin-top: 90px;
}

.right_block {
    display: inline-block;
    width: 450px;
    
    
    margin-top: 90px;
}

.header_text {
    color:#c5d2es;
    line-height: 23px;
}

.section_text {
    color:#c5d2es;
    line-height: 23px;
    
    
}
.alignTextRight {
    text-align: right;
}

.central_block {
    background-color: #55B388;
    padding: 50px 0px;
    height:450px;
}

.central_text {
    
    color: white;
    text-align: center;
}

.white_section {
    margin-top: 130px;
    text-align: center;
}
.green_text {
    color: #55B388;
}
.movie {
   margin-top: 50px;
    width: 800px;
}